* {
    margin: 0px auto;
    padding: 0px;
}
.header{
    width: 100%;
    padding: 2rem 0rem;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    margin-bottom: 1rem;
}
.inputGroup{
    display: flex;
    flex-direction: column;
    width: 10rem;
    overflow: hidden;
}
input{
    width: 9rem;
    margin-bottom: 1rem;
}
.fullBtn{
    width: 9rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
td{
    padding: 5px;
}